<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoarMapper">
    <insert id="insertContent" parameterType="java.util.HashMap">
        insert into board(
            subject,
            content,
            writer,
            password
        )values(
            #{subject},
            #{content},
            #{writer},
            #{password}
        )
    </insert>
    <insert id="updateContent" parameterType="java.util.HashMap">
        update
            board
        set
            subject = #{subject},
            content = #{content},
            writer = #{writer},
            password = #{password}
        where
            id = #{id}
    </insert>
    <select id="selectContentCnt" resultType="int" parameterType="java.util.HashMap">
        select
            count(id)
        from
            board
    </select>
    <select id="selectContent" resultType="study.spring.springhelper.model.Board" parameterType="java.util.HashMap">
        select
            id,
            subject,
            content,
            writer,
            date_format(register_datetime, '%Y-%m-%d %H:%i:%s') register_datetime
        from
            board
        order by id
        limit #{start}, #{end}
    </select>
    <select id="selectContentView" resultType="study.spring.springhelper.model.Board" parameterType="java.util.HashMap">
        select
            id,
            subject,
            content,
            writer,
            date_format(register_datetime, '%Y-%m-%d %H:%i:%s') register_datetime
        from
            board
        where
            id = #{id}
    </select>
    <insert id="insertBoardReply" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="reply_id">
        insert into board_reply(
            board_id,
            parent_id,
            depth,
            reply_content,
            reply_writer,
            reply_password
        )values(
            #{board_id},
            #{parent_id},
            #{depth},
            #{reply_content},
            #{reply_writer},
            #{reply_password}
        )
    </insert>
    <select id="selectBoardReplyList" resultType="study.spring.springhelper.model.BoardReply" parameterType="java.util.HashMap">
        select
            reply_id,
            board_id,
            parent_id,
            depth,
            reply_content,
            reply_writer,
            reply_password
        from
            board_reply
        where
            board_id = #{id}
        order by reply_id asc
    </select>
    <delete id="deleteBoardReply" parameterType="java.util.HashMap">
        delete
        from
            board_reply
        where
            reply_id = #{reply_id}
            and reply_password = #{reply_password}
    </delete>
    <delete id="deleteBoardReplyAll" parameterType="java.util.HashMap">
        delete
        from
            board_reply
        where
            reply_id in (
                select
                    reply_id
                from
                (select
                    reply_id
                from
                    board_reply
                where
                    reply_id = #{reply_id}
                    and reply_password = #{reply_password}) a
            ) or parent_id in (
                select
                    reply_id
                from
                (select
                    reply_id
                from
                    board_reply
                where
                    reply_id = #{reply_id}
                    and reply_password = #{reply_password}) a
            )
    </delete>
    <select id="selectBoardCnt" resultType="int" parameterType="java.util.HashMap">
        select
            count(id)
        from
            board
        where
            id = #{id}
            and password = #{password}
    </select>
    <delete id="deleteBoard" parameterType="java.util.HashMap">
        delete
        from
            board
        where
            id = #{id}
            and password = #{password}
    </delete>
    <select id="selectReplyPassword" resultType="int" parameterType="java.util.HashMap">
        select
            count(*)
        from
            board_reply
        where
            reply_id = #{reply_id}
            and reply_password = #{reply_password}
    </select>
    <update id="updateReply" parameterType="java.util.HashMap">
        update
            board_reply
        set
            parent_id = #{parent_id},
            depth = #{depth},
            reply_content = #{reply_content},
            reply_writer = #{reply_writer},
            reply_password = #{reply_password}
        where
            reply_id = #{reply_id}
    </update>
</mapper>